<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>Document</title>
</head>

<body>

    <nav class="navbar">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="../img/mail.svg" alt="brand">
                Ninja Mail
            </a>

            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="#" class="nav-link">FEATURES</a>
                    <div class="bottom-line"></div>
                </li>
                <li class="nav-list-item">
                    <a href="#" class="nav-link">PRICING</a>
                    <div class="bottom-line"></div>
                </li>
                <li class="nav-list-item">
                    <a href="#" class="nav-link">SERVICES</a>
                    <div class="bottom-line"></div>
                </li>
                <li class="nav-list-item">
                    <a href="#" class="nav-link">PARTNERS</a>
                    <div class="bottom-line"></div>
                </li>
                <li class="nav-list-item sign-up-item">
                    <a href="#" class="nav-link nav-sign-up">SIGN UP FREE</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="main-heading-sec">
        <div class="container">
            <div class="header-part">
                <h1 class="header">Create Stunning Email Campaigns</h1>
                <p class="header-p">Create and launch email campaigns that captivate your customers in just a few
                    clicks.</p>
                <div class="header-links">
                    <a href="#" class="try-now">TRY NOW</a>
                    <a href="#" class="get-demo">GET A DEMO</a>
                </div>
            </div>
            <img src="../img/main-girl.png" alt="girl" class="main-girl">
        </div>
    </section>

    <section class="reach_customer_sec">
        <div class="container">
            <div class="header-part">
                <h1 class="header">Reach More Customers</h1>
                <div class="header-links">
                    <button href="#" class="learn_how">LEARN HOW</button>
                </div>
            </div>
            <img src="../img/secondSection/VIDEO.png" alt="video" class="video">
        </div>
    </section>


    <section class="provement_sec">
        <div class="container">
            <div class="cards">
                <div class="card card1">
                    <img src="https://picsum.photos/350/250" alt="">
                    <div class="texts">
                        <p class="text">
                            Launch campaigns but also find new customers. Our unique platform handles campaigns from start
                            to end.
                        </p>
                        <a href="">Learn more</a>
                    </div>
                </div>
                <div class="card card2">
                    <img src="https://picsum.photos/350/250" alt="">
                    <div class="texts">
                        <p class="text">
                            Start building and sharing with your team today. NinjaMail is renowned for its industry leading
                            team collaboration tools.
                        </p>
                        <a href="">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="heading">
                <h2>The source for
                    proven, engaging
                    email campaigns
                </h2>
                <p>
                    Whether you’re a startup, small
                    business, e-commerce store, or
                    want to promote your app, NinjaMail
                    has the feature set tailored for
                    your business.

                </p>
            </div>
        </div>
    </section>

    <script src="../assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

</body>

</html>