* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.navbar .container-fluid {
  padding: 0 150px !important;
}

.navbar .container-fluid .navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 2rem !important;
  line-height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

.navbar .container-fluid .navbar-brand:hover {
  color: rgba(0, 0, 0, 0.7);
}

.navbar .container-fluid .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

.navbar .container-fluid .nav-list .nav-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .container-fluid .nav-list .nav-list-item .bottom-line {
  background-color: #4ba87d;
  width: 90%;
  height: 5px;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .container-fluid .nav-list .sign-up-item {
  background-color: #4ba87d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 20px;
}

.navbar .container-fluid .nav-list .sign-up-item a {
  color: #fff;
}

.navbar .container-fluid .nav-list .sign-up-item:hover {
  background-color: rgba(75, 168, 125, 0.3);
}

.navbar .container-fluid .nav-list .sign-up-item:hover .nav-sign-up {
  color: rgba(0, 0, 0, 0.7);
}

.navbar .container-fluid .nav-list .nav-list-item:hover .bottom-line {
  height: 100%;
}

.navbar .container-fluid .nav-list .nav-link {
  line-height: 20px;
  color: black;
  z-index: 2;
}

.navbar .container-fluid .nav-list .nav-link:hover {
  color: #fff;
}

.main-heading-sec {
  padding: 100px 0;
  background-image: url(../../img/main-sec/Rectangle1.svg), url(../../img/main-sec/Ellipse1.svg), url(../../img/main-sec/Ellipse2.svg);
  background-repeat: no-repeat;
  background-position: 30% 15%, 60% 18%;
}

.main-heading-sec .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.main-heading-sec .container .main-girl {
  position: absolute;
  right: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 65%;
  -webkit-box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1608);
          box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1608);
}

.main-heading-sec .container .header-part {
  width: 45%;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.main-heading-sec .container .header-part .header {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 30px;
}

.main-heading-sec .container .header-part .header-p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}

.main-heading-sec .container .header-part .header-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-heading-sec .container .header-part .header-links .try-now {
  padding: 15px 40px;
  background-color: #4ba87d;
  border: 2px solid #4ba87d;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-heading-sec .container .header-part .header-links .get-demo {
  padding: 15px 40px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #4ba87d;
  border: 2px solid #4ba87d;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 40px;
}

.main-heading-sec .container .header-part .header-links .try-now:hover {
  background-color: rgba(75, 168, 125, 0.3);
  color: rgba(0, 0, 0, 0.7);
  border-color: rgba(75, 168, 125, 0.2);
}

.main-heading-sec .container .header-part .header-links .get-demo:hover {
  background-color: rgba(75, 168, 125, 0.3);
  color: rgba(0, 0, 0, 0.7);
  border-color: rgba(75, 168, 125, 0.2);
}
/*# sourceMappingURL=style.css.map */