* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

body {
    font-family: 'Raleway', sans-serif;
}


.navbar {
    .container-fluid {
        padding: 0 150px !important;

        .navbar-brand {
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size: 2rem !important;
            line-height: 41px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(0, 0, 0, 1);

            &:hover {
                color: rgba(0, 0, 0, 0.7);
            }
        }

        .nav-list {
            display: flex;
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: 800;
            padding: 0;
            margin: 0;

            .nav-list-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                transition: all 0.3s;

                .bottom-line {
                    background-color: rgba(75, 168, 125, 1);
                    width: 90%;
                    height: 5px;
                    position: absolute;
                    bottom: 0;
                    transition: all 0.3s;
                }
            }

            .sign-up-item {
                background-color: rgba(75, 168, 125, 1);
                transition: all 0.3s;
                margin-left: 20px;

                a {
                    color: #fff;
                }

                // border: 2px solid rgba(75, 168, 125, 1);
            }

            .sign-up-item:hover {
                background-color: rgba(75, 168, 125, 0.3);
            }

            .sign-up-item:hover .nav-sign-up {
                color: rgba(0, 0, 0, 0.7);
            }

            .nav-list-item:hover .bottom-line {
                height: 100%;
            }

            .nav-link {
                line-height: 20px;
                color: rgba(0, 0, 0, 1);
                z-index: 2;
            }

            .nav-link:hover {
                color: #fff;
            }
        }
    }
}



.main-heading-sec {
    padding: 100px 0;
    background-image: url(../../img/main-sec/Rectangle1.svg),
        url(../../img/main-sec/Ellipse1.svg),
        url(../../img/main-sec/Ellipse6.svg),
        url(../../img/main-sec/Ellipse3.svg),
        url(../../img/main-sec/Ellipse5.svg),
        url(../../img/main-sec/Ellipse2.svg),
        url(../../img/main-sec/Rectangle2.svg),
        url(../../img/main-sec/Rectangle3.svg),
        url(../../img/main-sec/Rectangle3.svg),
        url(../../img/main-sec/Rectangle9.svg),
        url(../../img/main-sec/Rectangle10.svg);
    background-repeat: no-repeat;
    background-position: 30% 15%,
        60% 18%,
        3% 3%,
        90% 8%,
        16% 60%,
        50% 90%,
        20% 93%,
        87% 20%,
        -3% 66%,
        75% 14%,
        6% 22%;


    .container {
        display: flex;
        justify-content: flex-start;
        position: relative;

        .main-girl {
            position: absolute;
            right: 0;
            align-self: center;
            width: 65%;
            box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1608);
        }

        .header-part {
            width: 45%;
            margin-top: 150px;
            margin-bottom: 150px;
            margin-left: 50px;
            display: inline-flex;
            flex-direction: column;
            z-index: 2;

            .header {
                font-family: 'Playfair Display', serif;
                font-weight: 900;
                font-size: 4rem;
                margin-bottom: 30px;
            }

            .header-p {
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 30px;
            }

            .header-links {
                width: 100%;
                display: flex;
                justify-content: flex-start;

                .try-now {
                    padding: 15px 40px;
                    background-color: rgba(75, 168, 125, 1);
                    border: 2px solid rgba(75, 168, 125, 1);
                    color: #fff;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 25px;
                    transition: all 0.3s;
                }

                .get-demo {
                    padding: 15px 40px;
                    background-color: rgba(255, 255, 255, 0.5);
                    color: rgba(75, 168, 125, 1);
                    border: 2px solid rgba(75, 168, 125, 1);
                    font-family: 'Raleway', sans-serif;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 25px;
                    transition: all 0.3s;
                    margin: 0 40px;
                }

                .try-now:hover {
                    background-color: rgba(75, 168, 125, 0.3);
                    color: rgba(0, 0, 0, 0.7);
                    border-color: rgba(75, 168, 125, 0.2);
                }

                .get-demo:hover {
                    background-color: rgba(75, 168, 125, 0.3);
                    color: rgba(0, 0, 0, 0.7);
                    border-color: rgba(75, 168, 125, 0.2);
                }
            }

        }
    }
}

.reach_customer_sec {
    padding: 150px 0;
    background-color: #f7f7f7;
    background-image: url(../../img/secondSection/slash_blackslash.svg),
        url(../../img/secondSection/wave.svg);
    background-position: 20% 90%,
        0 100%;
    background-repeat: no-repeat;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .video {
            align-self: center;
            box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1608);
        }

        .header-part {
            position: absolute;
            display: inline-flex;
            flex-direction: column;
            z-index: 2;

            .header {
                color: #fff;
                font-family: 'Playfair Display', serif;
                font-weight: 900;
                font-size: 3.8rem;
                margin-bottom: 30px;
                margin-bottom: 60px;
            }

            .header-links {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .learn_how {
                    border: none;
                    outline: none;
                    padding: 15px 40px;
                    background-color: #fff;
                    color: rgba(75, 168, 125, 1);
                    font-family: 'Raleway', sans-serif;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 25px;
                    transition: all 0.3s;

                    &:hover {
                        background-color: rgb(75, 168, 125);
                        color: #fff;
                    }

                }
            }

        }
    }
}


.provement_sec {

    background-color: #CAEAC7;
    background-image: url(../../img/greenSection/Ellipse10.png),
                        url(../../img/greenSection/Ellipse9.png),
                        url(../../img/greenSection/Rectangle11.png),
                        url(../../img/greenSection/Rectangle13.png),
                        url(../../img/greenSection/Rectangle14.png),
                        url(../../img/greenSection/Rectangle16.png),    
                        url(../../img/greenSection/Rectangle14.png),
                        url(../../img/greenSection/Ellipse10.png);
    background-position: 6% 100%, 100% 60%, 5% 10%, 16% 50%, 90% 0%, 70% 15%, 96% 100%, 90% 96%;
    background-repeat: no-repeat;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .cards {
            min-height: 550px;
            display: flex;
            margin: 0 0 0 50px;

            .card {
                width: 360px;
                margin: 0 25px;
                background-color: #fff;
                position: relative;

                box-shadow: 0 0 30px -15px rgba($color: #000000, $alpha: 0.6);

                img {
                    width: 100%;
                    height: 100%;
                }

                .texts {
                    padding: 30px;
                    font-family: 'Raleway', sans-serif;

                    p {
                        line-height: 30px;
                        font-weight: 500;
                    }
                }
            }

            .card1 {
                margin-bottom: auto;
            }

            .card2 {
                margin-top: auto;
            }
        }

        .heading {
            margin: 25px;

            h2 {
                font-family: 'Playfair Display', serif;
                font-size: 2.6rem;
                font-weight: 900;
                margin: 30px 0;
            }

            p {
                font-family: "Raleway", serif;
                width: 70%;
                line-height: 30px;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
}

#send_email_sec {

    background-color: #fff;
    background-image: url(../../img/secondSection/wavebottom2.svg);
    background-position: 0 0;
    background-repeat: no-repeat;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 50px 0;

        .cards {
            display: flex;
            margin-top: 100px;

            .card {
                width: 360px;
                margin: auto 25px;
                background-color: #fff;
                position: relative;

                box-shadow: 0 0 30px -15px rgba($color: #000000, $alpha: 0.6);

                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: linear-gradient(0deg, #000000 -32.5%, rgba(84, 84, 84, 0.0001) 67.78%);
                }

                img {
                    width: 100%;
                    height: 100%;
                }

                .texts {
                    position: absolute;
                    z-index: 20;
                    top: 65%;
                    left: 10%;
                    display: flex;
                    flex-direction: column;

                    .customer_name {
                        font-family: "Raleway", serif;
                        color: #fff;
                        font-size: 34px;
                        line-height: 40px;
                        font-weight: 900;
                    }
                    
                    .year {
                        font-family: "Raleway", serif;
                        color: #fff;
                        font-size: 19px;
                        line-height: 22px;
                        font-weight: 700;
                    }
                }
            }

            .card1 {
                margin-bottom: auto;
            }

            .card2 {
                margin-top: auto;
            }
        }

        .heading {
            margin: 25px;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                font-family: 'Playfair Display', serif;
                font-size: 2.6rem;
                font-weight: 900;
                margin: 30px 0;
                text-align: center;
            }

            .inputField {
                input {
                    width: 410px;
                    height: 60px;
                    padding: 10px;
                    background: #FFFFFF;
                    border: 1px solid #9F9F9F;
                    box-sizing: border-box;
                    border-radius: 5px;
                    outline: none;

                }

                button {
                    padding: 15px 40px;
                    background-color: rgba(75, 168, 125, 1);
                    border: 2px solid rgba(75, 168, 125, 1);
                    color: #fff;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 25px;
                    transition: all 0.3s;

                    &:hover {
                        background-color: rgba(75, 168, 125, 0.3);
                        color: rgba(0, 0, 0, 0.7);
                        border-color: rgba(75, 168, 125, 0.2);
                    }
                }
            }

            .ads {
                margin-top: 60px;
                width: 50%;
            }

            .links {
                margin-top: 40px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

        }

    }
}

#start_today_section {
    background-color: rgb(75, 168, 125);

    .container {
        .start_today {
            width: 100%;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                font-family: 'Playfair Display', serif;
                font-size: 60px;
                font-weight: 400;
                color: #fff;
                margin: 30px 0;
            }

            a {
                border: none;
                outline: none;
                padding: 15px 40px;
                background-color: #fff;
                color: rgba(75, 168, 125, 1);
                font-family: 'Raleway', sans-serif;
                font-weight: 900;
                font-size: 21px;
                line-height: 25px;
                transition: all 0.3s;
                border: 3px solid transparent;

                margin: 30px 0;

                &:hover {
                    background-color: rgb(75, 168, 125);
                    color: #fff;
                    border: 3px solid #fff;
                }
            }
        }
    }
}


.footer {
    .container {
        padding: 50px 0;
        .top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 90%;
            margin: auto;
            padding: 50px 0;

            .logo {
                width: 200px;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-family: 'Raleway', sans-serif;
                    font-weight: 800;
                    font-size: 2rem !important;
                    color: rgba(0, 0, 0, 1);
                }
            }

            .contents {
                width: 60%;
                display: flex;
                align-items: flex-start;
                justify-content: space-evenly;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: start;
                    text-align: start;


                    a {
                        font-family: 'Raleway', sans-serif;
                        font-weight: 700;
                        font-size: 19px;
                        line-height: 22px;
                        color: #000;
                        margin-bottom: 10px;
                        text-align: start;
                    }
                }
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            margin: auto;
            padding: 30px 0;

            span,
            a {
                color: #000;
                font-family: 'Raleway', serif;
                font-weight: 700;
            }
        }
    }
}